<div class="container-fluid py-5 wrapper">
  <div class="container-md">
    <div class="text-center">
      <form action="">
        <input type="text" placeholder="Enter User Name" #username name="username" id="username">
        <button type="submit" (click)="getProfile(username.value)">Search User</button>
      </form>
    </div>
    
    <div *ngIf="userProfile">
      <img src="{{userProfile.avatar_url}}" alt="">
      <p>{{userProfile.name}}</p>
      <p>{{userProfile.login}}</p>
      <p *ngIf="userProfile.bio">{{userProfile.bio}}</p>
      <p>Followers: {{userProfile.followers}}</p>
      <p>Following: {{userProfile.following}}</p>
    </div>
    
    <div>
      <h2>Repos</h2>
      <div *ngFor="let repo of userRepos">
        <p>{{repo.name}}</p>
        <p>{{repo.description}}</p>
      </div>
    </div>
  </div>
</div>