<div class="container-fluid py-5 wrapper">
  <div class="container-md">
    <div class="text-center">
      <div class="row justify-content-center">
        <div class="col-lg-6 pb-5">
          <form action="">
            <input type="text" placeholder="Enter User Name" #username name="username" id="username">
            <button type="submit" (click)="getProfile(username.value)" id="submit">Search User</button>
          </form>
        </div>
      </div>
      
    </div>
    
    <div *ngIf="userProfile" class="text-center">
      <img src="{{userProfile.avatar_url}}" alt="" id="profile-img" class="rounded-circle pb-3">
      <h2>{{userProfile.name}}</h2>
      <h3>{{userProfile.login}}</h3>
      <p *ngIf="userProfile.bio">{{userProfile.bio}}</p>
      <p>Account Created on: {{userProfile.created_at|date}}</p>
      <p>Followers: {{userProfile.followers}}</p>
      <p>Following: {{userProfile.following}}</p>
      <p>Number of Public Repos: {{userProfile.public_repos}}</p>
      <button class="btn btn-primary">See Github Repos</button>
    </div>
    
    <!-- <div>
      <h2>Repos</h2>
      <div *ngFor="let repo of userRepos">
        <p>{{repo.name}}</p>
        <p>{{repo.description}}</p>
      </div>
    </div> -->
  </div>
</div>